{{page-title "Ex2"}}
  <h1 class="centrer">Services</h1>
  <br/>
  <div class="bleu">
    Choissisez les éléments à inclure<br/>
    <b>2 services sélectionnés</b>
  </div>
  <br/>
  <button class="vert"  {{action "webdev"}}>
    Web Development   300,00 €
  </button>
  <br/><br/>
  <button class="vert"  {{action "design"}}>
    Design   400,00 €
  </button>
  <br/><br/>
  <button class="gris" {{action "integration"}}>
    Integration  250,00 €
  </button>
  <br/><br/>
  <button class="vert" {{action "formation"}}>
    Formation  220,00 €
  </button>
  <br/><br/>
  <div class="centrer" id= prix>
    Total: 0,00 €
  </div>

{{outlet}}
